<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NHN Mart 고객 센터 | 고객 페이지</title>
</head>
<body>
    <h1 th:text="${user.name} + '님 환영 합니다!'"></h1>
    <ul th:each="inquiry : ${inquiryList}">
        <li>
            <a th:href="@{'/inquiry/' + ${inquiry.id}}">
                <span th:text="${inquiry.title}"></span>
            </a>
        </li>
    </ul>
    <div>
        <button onclick="location.href='/inquiry/register'">문의하기</button>
        <form method="POST" action="/logout" >
            <button type="submit">로그아웃</button>
        </form>
    </div>
</body>
</html>