<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NHN Mart 고객 센터 | 고객 페이지</title>
</head>
<body>
    <h1 th:text="${user.name} + '님 환영 합니다!'"></h1>
    <form method="get" th:action="@{'/user/' + ${user.id}}">
        <select id="type" name="type" onchange="this.form.submit()">
            <option th:each="type : ${typeList}"
                    th:value="${type}"
                    th:text="${type}"
                    th:selected="${type == selectedType}">
            </option>
        </select>
    </form>
    <table style="width: 500px;">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
            <th>답변여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inquiry : ${inquiryList}">
            <td>
                <a th:href="@{'/inquiry/' + ${inquiry.id}}">
                    <span th:text="${inquiry.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${inquiry.date}"></span>
            </td>
            <td>
                <span th:text="${inquiry.answered ? '답변 완료' : '미답변'}"
                      th:style="${inquiry.answered ? 'color:green' : 'color:red'}">
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button onclick="location.href='/inquiry/register'">문의하기</button>
        <form method="POST" action="/logout" >
            <button type="submit">로그아웃</button>
        </form>
    </div>
</body>
</html>